.navbar-brand{
  color: rgb(237, 230, 225) ; 
  background-color:rgb(37, 24, 220);
font-weight: bold;}
.brand-name{
  font-size: 5rem;
}
.brand-desc{
  font-size: 2rem;
}
.card-footer>a{
color:#de042e;
text-decoration: none;
font-size: large;
font-weight: bold;
}
.downloads{
  background-color: #f2f5fc;
}
#offer-title {
  font-size: 2.5em;
  letter-spacing: 0.15;
  color: #59688c;
  text-transform: none;
  font-weight: bold;
}

#offer-desc {
  font-size: 27px;
  line-height: 43px;
  letter-spacing: 0.24px;
  color: #8899c0;
  max-width: 80%;
}
p,a{
  text-decoration: none;
}